---
import { prisma } from "@lib/prisma";

import Layout from "@layouts/Layout.astro";
import CategoryEditor from "@components/Editor/CategoryEditor.svelte";

const categories = await prisma.category.findMany();
---

<Layout title="Roblox Blog">
  <a href="/dashboard">« Back to Dashboard</a><br /><br />
  <h2 class="page-title">Category Editor</h2><br>

    <CategoryEditor client:load categories={categories} />
</Layout>
