---
import Layout from "@layouts/Layout.astro";

import PostEditor from "@components/Editors/PostEditor.svelte";

import { prisma } from "@lib/prisma";
import { postWithAuthorAndCategories } from "@lib/prisma/queries";

import type { Post } from "@utils/types/post";

const { user } = Astro.locals;

const postID = Number(Astro.url.searchParams.get("id"));

// Early return if the post ID isn't a number
if (isNaN(postID)) return new Response(null, { status: 404 });

const post = await prisma.post.findFirst({
  where: { id: postID },
  include: postWithAuthorAndCategories
}) as Post;

if (!post) return new Response(null, { status: 404 });

const categories = await prisma.category.findMany();

// In the event that something bad happens
const errorMessage = Astro.cookies.get("error");
if (errorMessage) Astro.cookies.delete("error");
---

<Layout title="Roblox Blog > New Post">
  <a href="/dashboard">« Back to Dashboard</a><br /><br />
  <h2 class="page-title">Edit a post</h2><br />

  {errorMessage && <small style="color: red;">{errorMessage.value}</small>}
  <PostEditor
    client:load
    user={user}
    categories={categories}
    post={post}
  />
</Layout>
