---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Roblox Blog">
  <h2 class="page-title">Blog Dashboard</h2>
  <ul>
    <li><a href="/dashboard/new">Create a new blog post</a></li>
    <li><a href="/dashboard/categories">Edit categories</a></li>
    <br>
    <li><a href="/dashboard/profile">Profile Settings</a></li>
  </ul>
</Layout>
