---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Roblox Developers' Journal">
  <h2>Blog Dashboard</h2>
  <ul>
    <li><a href="/dashboard/new">Create a new blog post</a></li>
    <li><a href="/dashboard/categories">Edit categories</a></li>
  </ul>
</Layout>
