---
import Layout from "@layouts/Layout.astro";
import PostEditor from "@components/PostEditor.svelte";
import { prisma } from "@utils/prisma";

const { user } = Astro.locals;

const categories = await prisma.category.findMany();
---

<Layout title="Roblox Developers' Journal » New Post">
  <a href="/dashboard">« Back to Dashboard</a><br><br>
  
  <PostEditor 
    client:load 
    username={user.username} 
    categories={categories} 
  />
</Layout>
