---
import Layout from "@layouts/Layout.astro";
import PostEditor from "@components/PostEditor.svelte";
import { prisma } from "@utils/prisma";

const { user } = Astro.locals;

const categories = await prisma.category.findMany();

// In the event that something bad happens
const errorMessage = Astro.cookies.get("error");

if (errorMessage) Astro.cookies.delete("error");
---

<Layout title="Roblox Developers' Journal » New Post">
  <a href="/dashboard">« Back to Dashboard</a><br /><br />
  <h2>Create a new post</h2><br />

  {errorMessage && <small style="color: red;">{errorMessage.value}</small>}
  <PostEditor client:load username={user.username} categories={categories} />
</Layout>
