---
import Layout from "@layouts/Layout.astro";

import Post from "@components/Post/Post.astro";

import { postInclude, prisma } from "@utils/prisma";
import { getPostLink } from "@utils/general";

const { year, month, slug } = Astro.params;

const post = await prisma.post.findFirst({
  where: { slug },
  include: postInclude
});

if (!post) 
  return new Response(null, { status: 404 });

const prevPost = await prisma.post.findFirst({
  where: {
    dateCreated: {
      lt: post.dateCreated,
    },
  },
  select: {
    slug: true,
    dateCreated: true,
  },
  orderBy: {
    dateCreated: "desc",
  },
});

const nextPost = await prisma.post.findFirst({
  where: {
    dateCreated: {
      gt: post.dateCreated,
    },
  },
  select: {
    slug: true,
    dateCreated: true,
  },
  orderBy: {
    dateCreated: "asc",
  },
});
---

<Layout title={`${post.title} > Roblox Blog`} type="blog paged">
  {(prevPost || nextPost) && (
    <nav id="nav-above">
      <h3 class="assistive-text">Post navigation</h3>

      {prevPost && (
        <div class="nav-previous">
          <a href={getPostLink(prevPost)} rel="prev">
            <span class="meta-nav">←</span> Older posts
          </a>
        </div>
      )}

      {nextPost && (
        <div class="nav-next">
          <a href={getPostLink(nextPost)} rel="next">
            Newer posts <span class="meta-nav">→</span>
          </a>
        </div>
      )}
    </nav>
  )}

  <Post post={post} />
</Layout>