<div id="footer">
    <p>
        Roblox Developers' Journal is powered by
        <a href="https://github.com/midozen">midozen</a> and a thousand networked Amigas
    </p>
    <p class="rights-reserved date">
        All rights reserved {new Date().getFullYear()}
    </p>
</div>