<div id="footer">
    <p>
        Roblox Developers' Journal is powered by
        <a href="http://cirkl.zone">Cirkl</a> and a thousand networked Amigas
    </p>
    <p class="rights-reserved date">
        All rights reserved {new Date().getFullYear()}
    </p>
</div>