<div id="header">
    <div id="headerlogo">
        <a href={`https://${import.meta.env.PUBLIC_WEBSITE_URL}`} style="display:inline-block;height:70px;width:267px;cursor:pointer;">
        <img src="/images/RobloxLogo.png"></a>
    </div>
    <h1><a href="/">Roblox Developers' Journal</a></h1>
    <!-- If you see this you like men -->
</div>