<div id="header">
    <div id="headerlogo">
        <a href="http://cirkl.zone" style="display:inline-block;height:70px;width:267px;cursor:pointer;">
        <img src="/images/RobloxLogo.png"></a>
    </div>
    <h1><a href="/">Roblox Developers' Journal</a></h1>
    <!-- <h2>The Roblog</h2> -->
</div>