<header id="branding" role="banner">
    <a href="/">
        <img src="/images/header_04.png" alt="" width="900" height="108">
    </a>

    <hgroup>
        <h1 id="site-title">
            <span><a href="/" title="Roblox Blog" rel="home">Roblox Blog</a></span>
        </h1>
        <h2 id="site-description">Free Games at Cirkl.zone</h2>
    </hgroup>
</header>