---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Roblox Blog">
    <center>
        <img src="/images/not_found.jpg" alt="Kitty Sleeping">
        <h3>We couldn’t find what you were asking for.</h3>

        <a href="/">Go Home »</a>
    </center>
</Layout>