---
import Layout from "@layouts/Layout.astro";

import Post from "@components/Post.astro";

import { prisma } from "@utils/prisma";

// How much posts to query per page
const TAKE = 5;

const pageNumber = Number(Astro.url.searchParams.get("paged")) || 1;
const category = Astro.url.searchParams.get("cat") || "";
const month = Astro.url.searchParams.get("m") || "";
const search = Astro.url.searchParams.get("s") || "";

// Get the total number of posts & calculate the max page count
const totalPosts = await prisma.post.count();
const MAX_PAGE_COUNT = Math.ceil(totalPosts / TAKE);

// If the page is out of bounds, return a 404
if (pageNumber < 1 || pageNumber > MAX_PAGE_COUNT) {
    return new Response(null, { status: 404 });
}

const SKIP = (pageNumber - 1) * TAKE;

// TODO: actually fix month year search
const posts = await prisma.post.findMany({
  include: {
    categories: true,
    author: {
      select: {
        username: true,
      },
    },
  },
  where: {
	...(month && {dateCreated: { gte: new Date(month.slice(0, 4) + '-' + month.slice(4)) } }),
	...(category && {categories: {some: {id: Number(category)}}}),
	...(search && {title: { contains: search } })
  },
  skip: SKIP,
  take: TAKE,
  orderBy: { dateCreated: "desc"}
  });
---

<Layout title="Roblox Developers' Journal">
  {posts.length === 0 && (
	<p>No results matched your query.</p>
  )}

  {posts.map((post) => <Post post={post} />)}
  {pageNumber !== 1 && (
    <>
      <a href={`/?paged=${pageNumber - 1}`}>« Previous Page</a> —
    </> 
  )}

  {pageNumber !== MAX_PAGE_COUNT && <a href={`/?paged=${pageNumber + 1}`}>Next Page »</a>}
</Layout>
