---
import Layout from "@layouts/Layout.astro";

import { prisma } from "@lib/prisma";

import { getMonthYears } from "@utils/date";

const firstDate = await prisma.post.findFirst({
  select: { dateCreated: true },
});

const adjustDisplayDates = Astro.cookies.get("larp-mode")?.value === "true";
---

<Layout
  title="Site Archives > Roblox Blog"
  type="page page-template page-template-sidebar-page-php"
>
  <article class="hentry">
    <header class="entry-header">
      <h1 class="entry-title">Site Archives</h1>
    </header>

    <div class="entry-content"></div>

    <footer class="entry-meta"></footer>
  </article>

  <h2>Archives by Month:</h2>
  <ul>
    {
        getMonthYears(firstDate?.dateCreated!, adjustDisplayDates).map((date) => (
          <li>
            <a href={`/?m=${date.num}`} title={date.formatted} class="date">
              {date.formatted}
            </a>
          </li>
        ))
      }
  </ul>
</Layout>
