---
import Layout from "@layouts/Layout.astro";
---

<Layout
  title="Wallpapers > Roblox Blog"
  type="page page-template page-template-sidebar-page-php"
>
  <header class="entry-header">
    <h1 class="entry-title">Wallpapers</h1>
  </header>

  <div class="entry-content">
    <h2>
      <img
        class="alignnone size-full wp-image-7023"
        title="Redsteel Ranger Wallpaper"
        src="/images/wallpapers/steelman_wallpaper500x313.jpg"
        alt="Redsteel Ranger Wallpaper"
        width="500"
        height="313"
      /><br />
      Redsteel Ranger <br />
      <i style="font-weight: normal;">Resolutions for this wallpaper was not archived, if you have them please contact me.</i>
      <!-- <br />
      Resolutions: <a
        href="https://web.archive.org/web/20120203064928/http://community.roblox.com/wp-content/uploads/2012/02/steelman_wallpaper800x600.jpg"
        >800×600</a
      >, <a
        href="https://web.archive.org/web/20120203064928/http://community.roblox.com/wp-content/uploads/2012/02/steelman_wallpaper1024x768.jpg"
        >1024×768</a
      >, <a
        href="https://web.archive.org/web/20120203064928/http://community.roblox.com/wp-content/uploads/2012/02/steelman_wallpaper1280x1024.jpg"
        >1280×1024</a
      >, <a
        href="https://web.archive.org/web/20120203064928/http://community.roblox.com/wp-content/uploads/2012/02/steelman_wallpaper1440x900.jpg"
        >1440×900</a
      >, <a
        href="https://web.archive.org/web/20120203064928/http://community.roblox.com/wp-content/uploads/2012/02/steelman_wallpaper1680x1050.jpg"
        >1680×1050</a
      >, <a
        href="https://web.archive.org/web/20120203064928/http://community.roblox.com/wp-content/uploads/2012/02/steelman_wallpaper_1920x1080.jpg"
        >1920×1080<br />
      </a>Click the size you need to get the image. -->
    </h2>
    <hr />
    <h2>
      <img
        class="size-full wp-image-6988 alignnone"
        title="Space Trooper Wallpaper"
        src="/images/wallpapers/spaceTrooper_wallpaperThumb.jpg"
        alt="Space Trooper Wallpaper"
        width="500"
        height="313"
      /><br />
      Space Trooper <br />
      <i style="font-weight: normal;">Resolutions for this wallpaper was not archived, if you have them please contact me.</i>
      <!-- <br />
      Resolutions: <a
        href="https://web.archive.org/web/20120203064928/http://community.roblox.com/wp-content/uploads/2012/01/spaceTrooper_wallpaper800x600.jpg"
        >800×600</a
      >, <a
        href="https://web.archive.org/web/20120203064928/http://community.roblox.com/wp-content/uploads/2012/01/spaceTrooper_wallpaper1024x768.jpg"
        >1024×768</a
      >, <a
        href="https://web.archive.org/web/20120203064928/http://community.roblox.com/wp-content/uploads/2012/01/spaceTrooper_wallpaper1280x1024.jpg"
        >1280×1024</a
      >, <a
        href="https://web.archive.org/web/20120203064928/http://community.roblox.com/wp-content/uploads/2012/01/spaceTrooper_wallpaper1440x900.jpg"
        >1440×900</a
      >, <a
        href="https://web.archive.org/web/20120203064928/http://community.roblox.com/wp-content/uploads/2012/01/spaceTrooper_wallpaper1680x1050.jpg"
        >1680×1050</a
      >, <a
        href="https://web.archive.org/web/20120203064928/http://community.roblox.com/wp-content/uploads/2012/01/spaceTrooper_wallpaper1920x1080.jpg"
        >1920×1080<br />
      </a>Click the size you need to get the image. -->
    </h2>
    <hr />
    <h2>
      <img
        class="alignnone size-full wp-image-6987"
        title="Redcliff Knight Wallpaper"
        src="/images/wallpapers/Redcliff_wallpaperThumb.jpg"
        alt="Redcliff Knight Wallpaper"
        width="500"
        height="313"
      /><br />
      Redcliff Knight <br />
      <i style="font-weight: normal;">Resolutions for this wallpaper was not archived, if you have them please contact me.</i>
      <!-- <br />
      Resolutions: <a
        href="https://web.archive.org/web/20120203064928/http://community.roblox.com/wp-content/uploads/2012/01/Redcliff_wallpaper800x600.jpg"
        >800×600</a
      >, <a
        href="https://web.archive.org/web/20120203064928/http://community.roblox.com/wp-content/uploads/2012/01/Redcliff_wallpaper1024x768.jpg"
        >1024×768</a
      >, <a
        href="https://web.archive.org/web/20120203064928/http://community.roblox.com/wp-content/uploads/2012/01/Redcliff_wallpaper1280x1024.jpg"
        >1280×1024</a
      >, <a
        href="https://web.archive.org/web/20120203064928/http://community.roblox.com/wp-content/uploads/2012/01/Redcliff_wallpaper1440x900.jpg"
        >1440×900</a
      >, <a
        href="https://web.archive.org/web/20120203064928/http://community.roblox.com/wp-content/uploads/2012/01/Redcliff_wallpaper1680x1050.jpg"
        >1680×1050</a
      >, <a
        href="https://web.archive.org/web/20120203064928/http://community.roblox.com/wp-content/uploads/2012/01/Redcliff_wallpaper1920x1080.jpg"
        >1920×1080<br /> 
         </a>Click the size you need to get the image. -->
    </h2>
  </div><!-- .entry-content -->
  <footer class="entry-meta"></footer><!-- .entry-meta -->
</Layout>
