---
import Layout from "@layouts/Layout.astro";
---

<Layout
  title="Wallpapers > Roblox Blog"
  type="page page-template page-template-sidebar-page-php"
>
  <header class="entry-header">
    <h1 class="entry-title">Wallpapers</h1>
  </header>

  <div class="entry-content">
    <h2>
      <img
        class="alignnone size-full wp-image-7023"
        title="Redsteel Ranger Wallpaper"
        src="/images/wallpapers/steelman_wallpaper500x313.jpg"
        alt="Redsteel Ranger Wallpaper"
        width="500"
        height="313"
      /><br />
      Redsteel Ranger <br />
      <i style="font-weight: normal;"
        >Resolutions for this wallpaper was not archived, if you have them
        please contact me.</i
      >
    </h2>
    <hr />
    <h2>
      <img
        class="size-full wp-image-6988 alignnone"
        title="Space Trooper Wallpaper"
        src="/images/wallpapers/spaceTrooper_wallpaperThumb.jpg"
        alt="Space Trooper Wallpaper"
        width="500"
        height="313"
      /><br />
      Space Trooper <br />
      <i style="font-weight: normal;"
        >Resolutions for this wallpaper was not archived, if you have them
        please contact me.</i
      >
    </h2>
    <hr />
    <h2>
      <img
        class="alignnone size-full wp-image-6987"
        title="Redcliff Knight Wallpaper"
        src="/images/wallpapers/Redcliff_wallpaperThumb.jpg"
        alt="Redcliff Knight Wallpaper"
        width="500"
        height="313"
      /><br />
      Redcliff Knight <br />
      <i style="font-weight: normal;"
        >Resolutions for this wallpaper was not archived, if you have them
        please contact me.</i
      >
    </h2>
  </div>
  <footer class="entry-meta"></footer>
</Layout>
