---
import Layout from "@layouts/Layout.astro";

// probably the only way to do cross communication
const errorMessage = Astro.cookies.get("error");

if (errorMessage)
    Astro.cookies.delete("error")
---

<Layout title="Roblox Blog">
    <form action="/api/login" method="post">
        <label for="username">Username</label><br>
        <input type="text" name="username" id="username"><br>
        <label for="password">Password</label><br>
        <input type="password" name="password" id="password">
        <br>
        {errorMessage && <small style="color: red;">{errorMessage.value}</small>}
        <br>
        <input type="submit" value="Log In">
    </form>
</Layout>